#navBar {
	position: relative;
}

#title {
	text-align: center;
	margin-top: 5%;
}

#createUsername {
	margin-top: 10%;
	margin-left: 5%;
	position: relative;
}

input {
	width: 100%;
}

#submitButton {
	text-align: center;
	width: 100%;
	position: relative;
	margin-top: 10%;
	padding: 10px;
	font-size: 24px;
}

#createAccountButton {
	text-decoration: none;
}